[Unit]
Description=ML Container Instance
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/selinux-machine-learning/containers/start.sh %i
ExecStop=/usr/local/selinux-machine-learning/containers/stop.sh %i
RuntimeDirectory=ml-containers/%i
PIDFile=/run/ml-containers/%i/pid
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
